body {

    text-wrap: balance;
    font-family: Impact;
    background-color: black;
    color: #ee0059;

    padding-left: env(safe-area-inset-left);
	padding-right: env(safe-area-inset-right);
    
}

a {
    
    color: cyan;
    text-decoration: underline;
    
}

a:hover { cursor: pointer; }

nav { background-color: none; }

.navLink {
    
    width: 20vw;
    margin: 0;
    font-size: calc(10px + 100%);
    color: cyan;
    border: 2px dashed red;
	border-radius: 10px;
    
}
.navLink:hover {
    
    cursor: pointer;
    color: #ee0059;
    border: 2px solid green;
    
}

#homeDiv {

    display: flex;
    flex-direction: column;

    width: fit-content;

    justify-content: center;
    justify-items: center;

    align-self: center;
    align-content: center;
    align-items: center;
    
}

#homeButton {

    width: 0;
    font-size: 200%;

}

#homeButton:hover {
    
    cursor: pointer;

}

#homeButtonText { width: 1%; }

#homeButtonText:hover {

    cursor: pointer;
    color: yellow;

}

#lightbox {

	display: none;
	position: fixed;
	height: auto;
    z-index: 5;
    top: 25%;
    left: 12.5%;

	background-color: rgba(50, 50, 50, 0.95);

	color: white;

	border: 2px solid whitesmoke;
    border-radius: 3%;

}

#lightboxBar {

    display: flex;

    flex-direction: row-reverse;

    border: none;

}

#lightboxX {

    min-width: 30px;
	width: 1vw;
    min-height: 30px;
	height: 1vw;

    align-content: center;
    text-align: center;

	margin: 1%;

	color: red;
	
	border: 2px solid red;

}

#lightboxX:hover {

    cursor: pointer;
    color: white;

}

#header {

    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;

}

#logoContainer {

    display: flex;
    flex-direction: row;

    align-items: center;

}

#logo {
    
    max-width: calc(100px + 10vw);
    opacity: 0.8;
    margin-top: 5vh;
    
}

#logo:hover {
    
    cursor: pointer;
    
}

#logo2 {
    
    max-width: calc(25px + 2.5vw);
    opacity: 0.8;
    margin: 1vh;
    
}

#logo2:hover {
    
    cursor: pointer;
    
}

#EthanMichael {
    
    margin: 2% 0 2% 0;
    font-size: calc(2vw + 14pt);
    color: #ffffff;
    
}
#EthanMichael:hover {
    
    cursor: pointer;
    
}

#EthanMichael2 {
    
    margin: 2% 0 2% 0;
    font-size: calc(1vw + 12pt);
    color: #ffffff;
    
}

#EthanMichael2:hover {
    
    cursor: pointer;
    
}

#instagramLogo {

    min-width: 50px;
    width: 5vw;
    max-width: 500px;

}

#instagramLogo:hover {

    cursor: pointer;
    
}

#footer {

    display: flex;
    
    align-items: center;
    justify-content: center;
    
    text-align: center;

    flex-direction: column;

}

#contact {

    margin: 5vh 0 5vh 0;    
    color: cyan;

}

#contact:hover {
    
    cursor: pointer;
    
    color: yellow;
    
}

#copyright {

    display: flex;

    align-items: center;
    justify-content: center;

    text-align: center;

    margin: 5vh 0 5vh 0;

    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none

}



#rosterDiv {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  width: 100vw;
  max-width: 100%;
  margin: 5% 0 10% 0;
  padding: 0;

  pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none

}


#publicClientText {

  width: 100%;
  margin-bottom: 5%;

  justify-content: center;
  align-items: center;

  font-size: calc(10pt + 1vh);

  pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
  
}

.rosterItem {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  margin: calc(25px + 2vh) auto;

  width: auto;
  max-width: 100%;
  text-align: center;

  pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none

}


.rosterThumb {
  display: block;
  margin: 0 auto;

  min-width: 50px;
  width: 30vw;
  max-width: 400px;
  max-height: 400px;

  border-radius: 10px;

  pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
  
}

.rosterThumbText {
  text-align: center;
  font-size: calc(12px + 1vh);
  width: 100%;
  margin-top: 0.5rem;

  pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none

}



@media (max-aspect-ratio: 1/1) {

	#lightbox {

		width: 75%;
		top: 25%;
        left: 12.5%;

	}

    .navLink {

        width: 50vw;

    }

    #rosterDiv {
        margin: 10% 0 10% 0;
    }

    .rosterThumb {
        width: 50vw;
    }
    
}

@media (min-aspect-ratio: 1/1) {

		#lightbox {

			width: 50%;
			top: 25%;
    	left: 25%;
			
		}

    .navLink {

        width: 20vw;

    }

    #reportBanner {

        width:25vw;
        max-width:616px;

    }

}
