#rosterDiv {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  width: 100vw;
  max-width: 100%;
  margin: 5% 0 10% 0;
  padding: 0;

  pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none

}


#publicClientText {

  width: 100%;
  margin-bottom: 5%;

  justify-content: center;
  align-items: center;

  font-size: calc(12pt + 1vh);
  font-style: italic;

  pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
  
}

.rosterItem {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  margin: calc(25px + 2vh) auto;

  width: auto;
  max-width: 100%;
  text-align: center;

  pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none

}


.rosterThumb {
  display: block;
  margin: 0 auto;

  min-width: 50px;
  width: 30vw;
  max-width: 400px;
  max-height: 400px;

  border-radius: 10px;

  pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
  
}

.rosterThumbText {
  text-align: center;
  font-size: calc(12px + 1vh);
  width: 100%;
  margin-top: 0.5rem;

  pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none

}



@media (max-aspect-ratio: 1/1) {

  #rosterDiv {
    margin: 10% 0 10% 0;
  }

  .rosterThumb {
    width: 50vw;
  }

}