#rosterDiv {

  display: flex;
  flex-direction: column;

  width: 100%;
  margin: 10% auto;

  justify-content: center;
  align-items: center;
  
}

#publicClientText {

  width: 100%;

  justify-content: center;
  align-items: center;

  font-size: calc(18px + 1vh);
  
}

.rosterItem {

  display: flex;
  flex-direction: column;

  width: 100%;

  margin: calc(25px + 2vh);
  
  justify-content: center;
  align-items: center;
  
}

.rosterThumb {
  
  display: block; /* Prevent inline gaps */
  margin: 0 auto; /* Center inside its container */

  min-width: 50px;
  width: 20vw;
  max-width: 200px;
  
}

.rosterThumb:hover {

  cursor: pointer;
  
}

.rosterThumbText {

  text-align: center;
  font-size: calc(12px + 1vh);
  
}
