#rosterDiv {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  width: 100vw;
  max-width: 100%;
  margin: 5% 0 10% 0;
  padding: 0;
}


#publicClientText {

  width: 100%;
  margin-bottom: 5%;

  justify-content: center;
  align-items: center;

  font-size: calc(18px + 1vh);
  
}

.rosterItem {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  margin: calc(25px + 2vh) auto;

  width: auto;
  max-width: 100%;
  text-align: center;
}


.rosterThumb {
  display: block;
  margin: 0 auto;

  min-width: 50px;
  width: 20vw;
  max-width: 300px;

  border-radius: 10px;
  
}


.rosterThumb:hover {

  cursor: pointer;
  
}

.rosterThumbText {
  text-align: center;
  font-size: calc(12px + 1vh);
  width: 100%;
  margin-top: 0.5rem;
}

