#rosterDiv {

  display: flex;
  flex-direction: column;

  width: 100%;

  margin: 10%;

  justify-self: center;
  justify-content: center;
  justify-items: center;

  align-self: center;
  align-content: center;
  align-items: center;
  
}

#publicClientText {

  font-size: calc(18px + 1vh);
  
}

.rosterItem {

  display: flex;
  flex-direction: column;

  width: fit-content;

  margin: calc(25px + 2vh);
  
  justify-self: center;
  justify-content: center;
  justify-items: center;

  align-self: center;
  align-content: center;
  align-items: center;
  
}

.rosterThumb {

  min-width: 50px;
  width: 20vw;
  max-width: 200px;

}

.rosterThumb:hover {

  cursor: pointer;
  
}

.rosterThumbText {

  font-size: calc(12px + 1vh);
  
}
