#tagline1 {

    margin: 5vh 0 2.5vh 0;

    font-size: calc(30px + 2vh);

}

#tagline1:hover {

    cursor: pointer;

    color: rgb(0, 255, 0);

}

#tagline2 {

    width: 66.666%;

    margin: 10%;
    padding: 2%;

    font-size: calc(14px + 1vh);

    border: 5px solid #ff5959;
    border-radius: 20px;
    
}

#tagline2:hover {

    cursor: pointer;

    color: rgb(0, 255, 0);

}

#familiarDiv {

    display: flex;
    flex-direction: column;

    width: 100%;

    margin: 10%;

    justify-self: center;
    justify-content: center;
    justify-items: center;

    align-self: center;
    align-content: center;
    align-items: center;
    
}

#familiarText {

    display: flex;
    flex-direction: column;

    width: 100%;

    justify-self: center;
    justify-content: center;
    justify-items: center;

    align-self: center;
    align-content: center;
    align-items: center;

    font-size: calc(20px + 2vh);

}

#familiarText:hover {

    cursor: pointer;
    
}

#familiarImg {

    min-width: 200px;
    width: 50vw;
    max-width: 1000vw;

    justify-self: center;
    align-self: center;
    
}

#familiarImg:hover {

    cursor: pointer;

}

#infoBoxes {

    display: flex;
    flex-direction: row;

    margin: 3% 0 0 0;

}

.infoBox {

    width: 33.33%;
    height: 40vh;

    justify-self: center;
    justify-content: center;
    justify-items: center;

    align-self: center;
    align-content: center;
    align-items: center;

}

.infoBox:hover {

    cursor: pointer;

}

.infoBoxContent {

    display: flex;

    min-width: 75%;
    width: fit-content;
    
    font-size: calc(2.5vw);
    text-align: center;
    
    justify-self: center;
    justify-content: center;
    justify-items: center;

    align-self: center;
    align-content: center;
    align-items: center;
    
    background-position: center;
    background-repeat: no-repeat;
    
    margin: 1vh 1vw 1vh 1vw;
    
    border-radius: 14px;
    
    color: rgb(255, 255, 255);

    background-color: black;

}

#feesBox {

    background-image: url('money1.png');
    background-size: cover;
    background-position: center;

}

#feesBox:hover {

    background-image: url('money2.png');
    background-position: center;
    color: white;

}

#needsBox {

    background-image: url('needs2.png');
    background-size: cover;
    background-position: center;

}

#needsBox:hover {

    background-image: url('needs1.png');
    background-position: center;
    color: white;

}

#pricingBox {

    background-image: url('pricing1.png');
    background-size: cover;
    background-position: center;
    
}

#pricingBox:hover {

    background-image: url('pricing2.png');
    background-position: center;
    color: white;

}

#descriptionBox {

    display: flex;

    align-items: center;
    justify-content: center;

    font-size: calc(100% + 1vw);
    text-align: center;

    color: white;

    margin: 5% 0 5% 0;

}

#descriptionBox:hover {

    cursor: pointer;

    opacity: 0.8;

}


@media (max-aspect-ratio: 1/1) {

    #familiarImg {

        width: 90vw;

    }

    .infoBox {

        width: 33.33%;
        
    }

    #infoBoxes {

        display: flex;
        flex-direction: column;

    }
    
}

@media (min-aspect-ratio: 1/1) {

    #familiarImg {

        width: 66.666vw;

    }

    .infoBox {

        width: 80%;
    
    }

    #infoBoxes {

        display: flex;
        flex-direction: row;

    }

}
